* {
    font-family: "Open Sans", sans-serif;
    transition: 0.3s;
}

body {
    background: #2C2C2C;
    color: #fff;
    transition: 0s;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1212px;
    padding: 0px 16px;
    margin: auto;
}
section {
    padding: 64px 0;
}
button {
    background: #E2A300;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 12px 24px;
    font-weight: 700;
    cursor: pointer; 
    &:hover {
        background: #FFD872;
    }
}
.title {
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0;
}